img.patron {
  width: 100%;
  padding-bottom: 1em;
}

.header {
  padding: 3em 0 1.5em 0;
}


.line {
  width:100%;
  background-color: #2533B8;
  height:.25em;
  margin-bottom: 1.5em;
}

.content img {
  width: 100%;
}

.kstit {
  color: #031196;
}

a {
  color: #031196;
  text-decoration: none;
}

a:hover, .underlined {
  color: #2533B8;
  text-decoration: underline;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

h1, h2, h3, h4, h5, h6 {
  color: #2533B8;
  font-family: "Staatliches";
}
