img.patron {
  width: 100%;
  padding-bottom: 1em;
}

.header {
  padding: 3em 0;
}

.content img {
  width: 100%;
}

.kstit {
  color: #031196;
}

a {
  color: #031196;
  text-decoration: none;
}

a:hover {
  color: #2533B8;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: #2533B8;
  font-family: "Staatliches";
}
