img.patron {
  width: 100%;
  padding-bottom: 1em;
}

.header {
  padding: 3em 0 1.5em 0;
}

.line {
  width:100%;
  background-color: #2533B8;
  height:.25em;
  margin-bottom: 1.5em;
}

.content img {
  width: 100%;
}

.kstit {
  color: #031196;
}

.red {
  color: #960311;
}

a {
  text-decoration: none;
}

a:hover, .underlined {
  text-decoration: underline;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

h1, h2, h3, h4, h5, h6 {
  color: #2533B8;
  font-family: "Staatliches";
}

.newsletter {
  border-radius: 1em;
  color:white;
  background-color: #2533B8;
  text-align: center;
  list-style-type: none;
  padding:5px 5px;
}

.menu li {
  list-style-type: none;
  padding:3px 5px;
}

.footer {
  text-align: left;
  padding-bottom: 1.5em;
}

nav {
  background-color: #EEEEFC;
  margin-bottom: 1em;
  padding:1em 0 0em 0;
  border-top: 5px solid #2533B8;
  border-bottom: 5px solid #EEEEFC;
  font-size: .9em;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  line-height: 1em;
}

.ralign {
  text-align: right;
}

.calign {
  text-align: center;
}

.bco {
  color:white;
  background-color: #6977FC;
}

.rco {
  color:white;
  background-color: #FC6977;
}

#mapid { height: 300px;
border-radius: 1em;}
