<nav>
  <div class="container">
    <div class="row">
      {% for column in site.columns %}
      <div class="three columns">
        <ul>
        {% assign menu = (site.pages | sort: 'index' | where:"column",column) %}
        {% for p in menu %}
        {% if p.index > 0 %}
        <a href="{{p.url}}" {% if p.url==page.url %}class="underlined" {% endif %}>
          <li>{{ p.title }}</li>
        </a>
        {% endif %}
        {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class=" u-cf"></div>
</nav>
