<!DOCTYPE html>
{% include head.html %}

<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
  {% include header.html %}
</div>

{% include menu.html %}


<div class="container">

  <div class="row">
    <div class="three columns">
      {% include dates.html %}

      <h5>Sekretariat</h5>
<pre><code style="font-size:10px">Katedra Telekomunikacji
i Teleinformatyki
Politechnika Wrocławska
ul. Janiszewskiego 9
50-372 Wrocław
tel.: +48 71 320 45 82,
faks: +48 71 322 34 73
e-mail: kstit@pwr.edu.pl
www.kstit.pwr.edu.pl
</code></pre>

    </div>
    <div class="six columns content">
      {{ content }}
    </div>
    <div class="three columns">
      {% include patrons.html %}
      <div class="line"></div>

    </div>
  </div>
  <br>
  <div class="line"></div>
  <div class="row kstit footer">
    © 2018 Politechnika Wrocławska
    <br>
  </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
