<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/main.css">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
      {% include header.html %}
      <!-- columns should be the immediate child of a .row -->
      <div class="row">
        <div class="three columns">
          {% include menu.html %}
          {% include dates.html %}

          <h5>Sekretariat</h5>

    Katedra Telekomunikacji i Teleinformatyki
    Politechnika Wrocławska
    ul. Janiszewskiego 9
    50-372 Wrocław
    tel.: +48 71 320 45 82,
    faks: +48 71 322 34 73
    e-mail: kstit@pwr.edu.pl
    www.kstit.pwr.edu.pl

        </div>
        <div class="six columns content">
          {{ content }}
        </div>
        <div class="three columns">
          {% include patrons.html %}

        </div>
      </div>

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
