<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/main.css">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
      {% include header.html %}
  </div>

  <div class="container">

      <div class="row">
        <div class="three columns">
          {% include menu.html %}
          {% include dates.html %}

          <h5>Sekretariat</h5>
<pre><code style="font-size:10px">Katedra Telekomunikacji
i Teleinformatyki
Politechnika Wrocławska
ul. Janiszewskiego 9
50-372 Wrocław
tel.: +48 71 320 45 82,
faks: +48 71 322 34 73
e-mail: kstit@pwr.edu.pl
www.kstit.pwr.edu.pl
</code></pre>

        </div>
        <div class="six columns content">
          {{ content }}
        </div>
        <div class="three columns">
          {% include patrons.html %}
          <div class="line"></div>

        </div>
      </div>
      <br>
      <div class="line"></div>
      <div class="row kstit footer">
      © 2018 Politechnika Wrocławska
      <br>
      </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
